doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='/css/uno.css')
    link(rel='stylesheet', href='/css/main.css')
    title ebb-tide
  body
    header.panel-cover(style='background-image: url(/img/neuralPathways.png)')
      .panel-main
        .panel-main__inner.panel-inverted
          .panel-main__content
            p.panel-cover__description
              | Hi, I'm Deniz
              hr.panel-cover__divider
              | I'm currently a software engineer at &nbsp;
              a(href='https://www.influxdata.com/', title='influxdata') InfluxData
              | &nbsp; in San Francisco.
              br
              br
              | I used to be a neuroscience graduate student at HHMI, I studied math at the University of Chicago, and I once became a better programmer at the &nbsp;
              a(href='https://www.recurse.com/', title='recurse') Recurse Center
              | &nbsp; !
              br
              br
              |Check out my&nbsp;
              a(href='https://ebb-tide.github.io/projects/', title='Projects') projects
              |  and&nbsp;
              a(href='https://ebb-tide.github.io/resume/', title='Resume') resume
              | .
            .navigation-wrapper.moo
              nav.cover-navigation.cover-navigation--primary
                ul.navigation
                  li.inner_link_item
                    a.blog-button(href='https://ebb-tide.github.io/projects/', title='Projects') Projects
                  li.inner_link_item
                    a.blog-button(href='https://ebb-tide.github.io/resume/', title='Resume') Resume
            .navigation-wrapper
              nav.cover-navigation.navigation--social
                ul.navigation
                  // GitHub
                  li.navigation__item
                    a(href='https://github.com/ebb-tide', title='ebb-tide on GitHub', target='_blank')
                      i.icon.icon-social-github
                      span.label GitHub
                  // LinkedIn
                  li.navigation__item
                    a(href='https://www.linkedin.com/in/deniz-kusefoglu-ab032313', title='LinkedIn', target='_blank')
                      i.icon.icon-social-linkedin
                      span.label LinkedIn
                  // Email
                  li.navigation__item
                    a(href='mailto:denizkusef@gmail.com', title='E-mail', target='_blank')
                      i.icon.icon-at-sign
                      span.label Email
        .panel-cover--overlay
