doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/uno.css')    
    title ebb-tide
  body
    header.panel-cover(style='background-image: url(/img/sululuk1000.png)')
      .panel-main
        .panel-main__inner.panel-inverted
          .panel-main__content
            img.user-image(src='/img/profile.jpg', alt='Photo')
            hr.panel-cover__divider
            p.panel-cover__description
              | Hi, I'm Deniz.
              br
              br
              |I graduated with a degree in Mathematics from the University of Chicago, and began my graduate studies in Computational Neuroscience at the Howard Hughes Medical Institute and the Vollum Institute. I've recently spent some time becoming a better programmer at The Recurse Center in NYC. 
              br
              br
              |I believe visualizations are essential, and I love creating unobtrusive technologies that make interpersonal interactions more productive.
              br
              br
              |I'm looking for a job, so check out my 
              a(href='https://ebb-tide.github.io/projects/', title='Projects') projects
              |  and 
              a(href='https://ebb-tide.github.io/resume/', title='Resume') resume
              | .
              br
              br
            br
            .navigation-wrapper.moo
              nav.cover-navigation.cover-navigation--primary
                ul.navigation
                  li.inner_link_item
                    a.blog-button(href='https://ebb-tide.github.io/projects/', title='Projects') Projects
                  li.inner_link_item
                    a.blog-button(href='https://ebb-tide.github.io/resume/', title='Resume') Resume
            .navigation-wrapper
              nav.cover-navigation.navigation--social
                ul.navigation
                  // GitHub
                  li.navigation__item
                    a(href='https://github.com/ebb-tide', title='ebb-tide on GitHub', target='_blank')
                      i.icon.icon-social-github
                      span.label GitHub
                  // LinkedIn
                  li.navigation__item
                    a(href='https://www.linkedin.com/in/deniz-kusefoglu-ab032313', title='LinkedIn', target='_blank')
                      i.icon.icon-social-linkedin
                      span.label LinkedIn
                  // Email
                  li.navigation__item
                    a(href='mailto:denizkusef@gmail.com', title='E-mail', target='_blank')
                      i.icon.icon-at-sign
                      span.label Email
        .panel-cover--overlay
